<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<permissions>
        <permission action="dispSomethingAdminConfig" target="manager" />
		<permission action="dispSomethingAdminConnect" target="manager" />
		<permission action="dispSomethingAdminData" target="manager" />
		<permission action="dispSomethingAdminSkinInfo" target="manager" />
		<permission action="dispSomethingAdminMobileSkinInfo" target="manager" />
	</permissions>
	<actions>
		<!-- admin view -->
		<action name="dispSomethingAdminConfig" type="view" admin_index="true" standalone="true" />
		<action name="dispSomethingAdminConnect" type="view" standalone="true" />
		<action name="dispSomethingAdminData" type="view" standalone="true" />
		<action name="dispSomethingAdminModuleInstance" type="view" standalone="true" />
		<action name="dispSomethingAdminSkinInfo" type="view" standalone="true" />
		<action name="dispSomethingAdminMobileSkinInfo" type="view" standalone="true" />

		<!-- admin controller -->
		<action name="procSomethingAdminInsertConfig" type="controller" standalone="true" />
		<action name="procSomethingAdminInsertConnect" type="controller" standalone="true" />
		<action name="procSomethingAdminInsertData" type="controller" standalone="true" />
		<action name="procSomethingAdminInsertModuleInstance" type="controller" standalone="true" />

		<!-- user view -->
		<action name="dispSomethingProfileView" type="view" standalone="true" index="true" />
		
		<!-- trigger -->
		<action name="triggerAddMemberMenu" type="controller" />

	</actions>
</module>
