#st-container {
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #bcbcbc;
  width:100%;
}

.st-profile-image{
  float:left;
  width: 90px;
}

.st-profile-text{
  float : right;
  width:100%;
	margin-right:-90px;
	padding-right : pxpx;
	box-sizing:border-box;
}

@media ( min-width: 768px ) {

}