.st-profile{
  width:100% !important;
}

.st-profile-image{
  position: absolute;
  right:10px;
}

.pf-card-extra-content{
  padding: .75em 1em !important;
  padding-top: 0.75em !important;
  padding-right: 1em  !important;
  padding-bottom: 0.75em  !important;
  padding-left: 1em  !important;
}