.st-profile{
  width:100% !important;
  min-height:120px !important;
}

.st-profile-image{
  position: absolute;
  right:10px;
}

.pf-card-extra-content{
  padding: .75em 1em !important;
  padding-top: 0.75em !important;
  padding-right: 1em  !important;
  padding-bottom: 0.75em  !important;
  padding-left: 1em  !important;
}

.st-href{
  text-decoration: none !important;
}

.st-href:hover{
  text-decoration: underline !important;
}

.st-description-href a{
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.87);
}
.st-description-href a:visited{
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.87);
}

.st-profile-description{
  min-height: 25px;
}

.st-cmt-doc-title a{
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.6)
}
.st-cmt-doc-title a:hover{
  text-decoration: underline !important;
  color: rgba(0, 0, 0, 0.6)
}

.st-board-name a{
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.6)
}
.st-board-name a:hover{
  text-decoration: underline !important;
  color: rgba(0, 0, 0, 0.6)
}
.ui.st-icon.st-message{
  width:auto !important;
}
.font-grey{
  color:#999999 !important;
}

.st-page{
  min-height: 0.1em !important;
}

.st-angle{
  padding: 0.52857143em .74285714em  !important;
}

.st-page-parent{
  margin-top:1rem !important;
  margin-bottom:1rem !important;
}
.st-page .item{
  min-width: 1em !important;

  padding:0.52857143em 0.74285714em  !important;
}

.none-profile-image{
  width:80px !important;
  height:80px !important;
}

.st-member-followercount a{
  text-decoration: none !important;
}

.st-member-followercount a:hover{
  text-decoration: none !important;
}

.st-follow-add-msg{
  cursor: pointer !important;
}

.st-follow-add-msg:hover{
  background:#d4d4d4;
}

.st-profile-nick_name a{
  color:rgba(0, 0, 0, 0.85) !important;
  text-decoration: none !important;
}

.st-profile-nick_name a:hover{
    color:rgba(0, 0, 0, 0.65) !important;
}

.st-profile-nick_name .xe_experience_level_icon{
  display:none !important;
}

.layout_body .layout_content{
  overflow: visible !important;
}

.ui.modal > .st-content{
  width:auto !important;
}

[data-tooltip]:after{
  font-size:1em !important;
}

@media only screen and (max-width: 767px){
  .ui.unstackable.items > .item > .image, .ui.unstackable.items > .item > .image > img {
      width: 100px !important;
  }
}