.mgt-10{
    margin-top:10px !important;
}
.mgt-5{
    margin-top:5px !important;
}
.mgt-15{
    margin-top:15px !important;
}
.mgt-20{
    margin-top:20px !important;
}
.st-time{
    width:100% !important;
}

.st-user-pf-img{
    width:80px !important;
    height:80px !important;
    border: 3px solid #eaeaea;
    border-radius: 100%;
}

.st-member-info{
    width:100% !important;
    height:96px !important;
}

.st-member-info .pic{
    padding:5px 5px 5px 5px !important;
    width:20% !important;
    max-width:96px !important;
    min-width:96px !important;
    width:96px !important;
    height:100%  !important;
    background: #ffffff !important;;
    float:left;
}

.st-member-info .doc{
    width:100% !important;
    background:#eaeaea !important;
    height:100% !important;
    color:black !important;
    overflow: inherit !important;
}


.doc .st-doc-user-info{
    padding:5px 0 0 5px;
    overflow: hidden;
}

.st-member-info-effect
{
  position: relative;
}
.st-member-info-effect:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.st-list-group{
    -webkit-padding-start: 0px !important;
    -webkit-margin-before: 0px !important;
}

.st-signature{
    line-height: 130%;
}

.st-nick-name{
    font-weight: 600;
}